.left-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow-container {
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  margin: 0 5px;
}
.arrow {
  color: white;
  font-size: 24px;
  cursor: pointer;
}
.card2 {
  display: none;
}
.card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 800px;
  height: 1000px;
  text-align: center;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.container {
  padding: 2px 16px;
  /* text-align: center; */
  transform: translate(0.5%,10%);
}